<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//TR" "http://www.w3.org/TR/xhtml1/DTD/xhtml-lat1.ent">
<html xmlns="http://www.w3.org/1999/xhtml" lang="TR">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title>Makbuz_1</title>
 <style>p.m_page-break{page-break-after:always}
 * {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
 }
 </style>
</head>
<body>
<div class="container" style="margin-top: 2%;width:100%">
 <div style="width: 100%;display: flex;">
  <div style="width: 20%;display: flex;justify-content: center">
   <img width="100" height="100" src="https://www.cdnlogo.com/logos/j/2/java.svg" alt="java"/>
  </div>
  <div style="width: 78%;display: flex;background-color: #1c8c04;border-radius: 20px;align-items: center">
   <div>
    <h2 style="color: white;margin-left: 30%">Dekont</h2>
   </div>
   <div style="width: 80%;color: white;display: flex;flex-direction: column;justify-content: flex-end">
    <p style="display: flex;justify-content: flex-end;font-weight: 500;">Spring Printing</p>
    <p style="display: flex;justify-content: flex-end;font-size: 10px">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
     sed do eiusmod<br/> tempor incididunt ut labore et dolore magna aliqua.ut labore et dolore</p>
   </div>
  </div>
 </div>
 <h5 style="text-align: center;width: 100%;margin-top: 20px" id="title">Title</h5>
 <div style="width: 100%;display: flex;margin-top: 50px;justify-content: space-around">
  <div style="width: 46%;border:1px solid #5a907a;border-radius: 20px;height: 200px">
   <table style="padding: 20px;color: gray;font-size: 12px">
    <tr style="display: flex">
     <td>ŞUBE ADI</td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; :  &nbsp;&nbsp;&nbsp;&nbsp; </td>
     <td id="branchName">0000000000</td>
    </tr>
    <tr style="display: flex">
     <td>HESAP NUMARASI</td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td id="accountNumber">0000000000</td>
    </tr>
    <tr style="display: flex">
     <td>İŞLEM TARİHİ</td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td id="createdDate">0000000000</td>
    </tr>
    <tr style="display: flex">
     <td>İŞLEM YERİ</td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  :  &nbsp;&nbsp;&nbsp;&nbsp; </td>
     <td>JAVA</td>
    </tr>
    <tr style="display: flex;opacity: 0;">
     <td>00<td>
     <td> </td>
     <td>0000000000</td>
    </tr>
    <tr style="display: flex">
     <td>DÜZENLENME TARİHİ</td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :  &nbsp;&nbsp;&nbsp;&nbsp; </td>
     <td id="valor">0000000000</td>
    </tr>
    <tr style="display: flex">
     <td>IBAN</td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :  &nbsp;&nbsp;&nbsp;&nbsp; </td>
     <td id="ibanNumber">0000000000</td>
    </tr>
   </table>
  </div>
  <div style="width: 46%;border:1px solid #5a907a;border-radius: 20px;height: 200px">
   <table style="padding: 20px;color: gray;font-size: 14px">
    <tr>
     <td>SAYIN</td>
    </tr>
    <tr style="display: flex">
     <td id="name">İsim</td>
     <td id="surname" style="margin-left: 5px">Soyisim</td>
    </tr>
    <tr>
     <td>
      <span id="address">Address</span>
      <span id="addressStreet">addressStreet</span>
     </td>
    </tr>
    <tr>
     <td>
      <span id="addressCounty">addressCounty</span>
      <span id="addressCity">addressCity</span>
     </td>
    </tr>
   </table>
  </div>
 </div>
 <div style="width: 100%;margin-top: 20px">
  <div style="width: 96%;border:1px solid #5a907a;border-radius: 20px;height: 250px;margin-left: 2%">
   <table style="padding: 20px;color: gray;font-size: 14px">
    <tr style="display: flex">
     <td style="width: 100%" id="writingAreaTitle">writingAreaTitle</td>
    </tr>
    <tr style="display: flex">
     <td style="width: 100%" id="writingArea1">writingArea1</td>
    </tr>
    <tr style="display: flex">
     <td style="width: 100%" id="writingArea2"> writingArea2</td>
    </tr>
    <tr style="display: flex">
     <td style="width: 100%" id="writingArea3"> writingArea3</td>
    </tr>
    <tr style="display: flex">
     <td style="width: 100%" id="writingArea4"> writingArea4</td>
    </tr>
    <tr style="display: flex">
     <td style="width: 100%" id="writingArea5"> writingArea5</td>
    </tr>
    <tr style="display: flex">
     <td style="width: 100%" id="writingArea6"> writingArea6</td>
    </tr>
    <tr style="display: flex">
     <td style="width: 100%" id="writingArea7"> writingArea7</td>
    </tr>
    <tr style="display: flex">
     <td style="width: 100%" id="writingArea8"> writingArea8</td>
    </tr>
    <tr style="display: flex">
     <td style="width: 100%" id="writingArea9"> writingArea9</td>
    </tr>
   </table>
  </div>
 </div>
 <div style="width: 100%;margin-top: 20px;display: flex;justify-content: space-around">
  <div style="width: 46%;border:1px solid #5a907a;border-radius: 20px;height: 30px">
   <table style="padding-left: 10px;padding-top: 5px;color: gray;font-size: 14px">
    <tr style="display: flex">
     <td>SIRA NO</td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  :  &nbsp;&nbsp;&nbsp;&nbsp; </td>
     <td>2024-0000-0000-0000</td>
    </tr>
   </table>
  </div>
  <div style="width: 46%;border:1px solid #5a907a;border-radius: 20px;height: 30px;margin-bottom: 20px">
   <table style="padding-left: 10px;padding-top: 5px;color: gray;font-size: 14px">
    <tr>
     <td>TUTAR</td>
     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  :  &nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td id="paymentTotal">0000000000</td>
    </tr>
   </table>
  </div>
 </div>
</div>
</body>
</html>