<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//TR" "http://www.w3.org/TR/xhtml1/DTD/xhtml-lat1.ent">
<html xmlns="http://www.w3.org/1999/xhtml" lang="TR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>p.m_page-break{page-break-after:always}
        @font-face {
            font-family: "Open Sans", sans-serif;
            -fs-pdf-font-embed: embed;
            -fs-pdf-font-encoding: Identity-H;
        }
        </style>
    </head>
    <body>

        <div>
            <table>
                <tr>
                    <td>
                        <span><span id="dealerCompanyName">000</span><br></span>
                        <span><span id="dealerAddress">00</span></span>
                        <span><span id="dealerAddressCounty">00</span><span id="dealerAddressCity">00</span><br></span>
                        <span>Tel: <span id="dealerPhoneNumber">00</span><br></span>
                        <span>E-Posta: <span id="dealerMailAddress">00</span><br></span>
                        <span>Web Sitesi: <br></span>
                        <span>Vergi Dairesi: İzmir / KONAK<br></span>
                        <span>VKN: <span id="dealerVKN"></span><br></span>
                        <span>Mersis No: 0000-0000-0000-0000<br></span>
                        <span>Ticaret Sicil No: <span id="dealerTradeNumber">00</span><br></span>
                    </td>
                    <td>
                        <span>e-Arşiv Fatura</span>
                    </td>
                    <td>
                        <img width="100px" height="100px" src="https://www.cdnlogo.com/logos/j/2/java.svg" alt="java"/>
                    </td>
                    <td>
                        <img width="150px" height="150px" src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg" alt="qr-kod" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span>SAYIN<br></span>
                            <span><span id="customerName">00</span> <span id="customerSurname">00</span><br></span>
                            <span><span id="customerAddressCounty">00</span> <span id="customerAddressCity">00</span><br></span>
                            <span>Web Sitesi: <br></span>
                            <span>E-Posta: <span id="customerMailAddress">00</span><br></span>
                            <span>Tel: <span id="customerPhoneNumber">00</span><br></span>
                            <span>Vergi Dairesi: <br></span>
                            <span>TCKN: <span id="customerTCKN">00</span><br></span>
                        </div>
                    </td>
                    <td colspan="2">
                        <span>KAŞE</span>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>Özelleştirme No: </td>
                                <td>TR0.0</td>
                            </tr>
                            <tr>
                                <td>Senaryo: </td>
                                <td>FATURA</td>
                            </tr>
                            <tr>
                                <td>Fatura Tipi: </td>
                                <td>SATIS</td>
                            </tr>
                            <tr>
                                <td>Fatura No: </td>
                                <td>00000000000</td>
                            </tr>
                            <tr>
                                <td>Fatura Tarihi</td>
                                <td>0000000</td>
                            </tr>
                            <tr>
                                <td>Fatura Saati</td>
                                <td>00:00:00</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

    </body>
</html>