
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"><style>p.m_page-break{page-break-after:always}</style></head><body><u></u>




<div>
    <div style="width:100%;max-width:690px;margin:0 auto">
        <table cellspacing="0" cellpadding="0" border="0" align="left" style="text-align:left;color:#000;padding:0;line-height:10px;width:99%">
            <tbody>
            <tr>
                <td style="margin:0;color:#000">
                    <img style="width:156px;height:33px">
                </td>
            </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" style="width:99%;clear:both">
            <tbody>
            <tr>
                <td colspan="2">
                    <table cellspacing="0" cellpadding="0" style="padding:0px;color:#000;width:100%">
                        <tbody>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" style="min-width:480px;max-width:720px;width:100%;margin-bottom:5px">
                                    <tbody>
                                    <tr>
                                        <td style="padding:0;margin:0;font:bold 16px/20px arial;text-align:center">KURUM TAHSILATI</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="border:#bbb 1px solid;border-radius:6px;padding:10px 10px 2px 10px;margin-bottom:0px">
                                    <table width="100%" cellspacing="0" cellpadding="0" align="left" style="color:#000;border-collapse:separate">
                                        <tbody>
                                        <tr>
                                            <td style="width:55%;vertical-align:top">
                                                <div style="padding:6px 10px 5px 10px;margin-right:12px;border:#bbb 1px solid;border-radius:6px">
                                                    <table cellspacing="0" cellpadding="0" border="0" style="text-align:left;color:#000;padding:0;line-height:10px;margin:0 auto;width:100%">
                                                        <tbody>
                                                        <tr>
                                                            <td style="font:bold 11px/16px arial;width:110px">ŞUBE KODU/ADI</td>
                                                            <td style="font:11px/16px arial;width:12px">:</td>
                                                            <td style="font:11px/16px arial;width:185px" id="branchName">00000</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font:bold 11px/16px arial">IBAN</td>
                                                            <td style="font:11px/16px arial">:</td>
                                                            <td style="font:11px/16px arial" id="ibanNumber">TR00 000</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font:bold 11px/16px arial">HESAP NUMARASI</td>
                                                            <td style="font:11px/16px arial">:</td>
                                                            <td style="font:11px/16px arial" id="accountNumber">00000</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font:bold 11px/16px arial">VERGİ DAİRESİ</td>
                                                            <td style="font:11px/16px arial">:</td>
                                                            <td style="font:11px/16px arial">İzmir Hatay</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font:bold 11px/16px arial">İŞLEM TARİHİ</td>
                                                            <td style="font:11px/16px arial">:</td>
                                                            <td style="font:11px/16px arial" id="createdDate">00000</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </td>
                                            <td style="vertical-align:top;border:#bbb 1px solid;border-radius:6px">
                                                <div style="padding:6px 10px 5px 10px">

                                                    <table cellspacing="0" cellpadding="0" border="0" style="text-align:left;color:#000;padding:0;line-height:10px;margin:0 auto;width:100%">
                                                        <tbody>
                                                        <tr>
                                                            <td style="font:bold 11px/16px arial;float:left;padding:0;margin:0;width:100%">
                                                                SAYIN
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font:bold 11px/16px arial;float:left;padding:0;margin:0;width:100%">
                                                                <span id="name"></span><span id="surname"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font:bold 11px/16px arial;float:left;padding:0;margin:0;width:100%">

                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font:bold 11px/16px arial;float:left;padding:0;margin:0;width:100%">
                                                                NO: 00000 / 00000<br>İZMİR<br>
                                                            </td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div style="clear:both"></div>
                                    <table cellspacing="0" cellpadding="0" style="padding:0;margin:0;width:100%;color:#000">
                                        <tbody>
                                        <tr>
                                            <td style="padding:9px;margin:0px;font:11px/16px arial" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0" style="text-align:left;color:#000;padding:0;line-height:10px">
                                                    <tbody>
                                                    <td style="font:11px/13px arial;padding:0 0 10px 9px;margin:0;width:550px">
                                                        KURUM TAHSİLATI<br>Abone No        : 00000<br>Fatura No       : 00000<br>Son Ödeme Tarihi: 00000<br>Ad Soyad        : 00000<br>Komisyon        : 00000<br>BSMV            : 0<br>Toplam Tutar    : 00000<br>
                                                    </td>
                                                    <td style="font:11px/13px Courier New;padding:0 0 10px 9px;margin:0;width:80px">
                                                        <div>  </div>
                                                        <div>  </div>
                                                    </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div style="clear:both"></div>
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="text-align:left;color:#000;padding:0;line-height:10px">
                                        <tbody>
                                        <tr>
                                            <td style="font:11px/13px arial;padding:0 0 0 10px;margin:0;width:450px">
                                                <br>
                                                <table>
                                                    <tbody><td>Hesabınızdan <span id="paymentTotal">00000</span> () Çekilmiştir.<br></td></tbody>
                                                </table>
                                                00000
                                            </td>
                                            <td rowspan="2" style="width:150px;font:11px/13px arial;padding:0;width:200px;text-align:center;margin:0" align="center">Saygılarımızla<br>
                                                <strong> BANKASI A.Ş.</strong><br>İNTERNET ŞUBESİ
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%;margin-bottom:4px;margin-top:4px">
                        <tbody>
                        <tr>
                        </tr>
                        <tr>
                            <td style="font:9px/15px arial;color:#000;text-align:left">
                                00000    <br>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<p class="m_page-break"></p></body></html>